//Color bank
$color-white: #FFFFFF;
$color-alto: #DEDEDE;
$color-ebony: #070716;
$color-java-blue: #1FBAD6;
$color-red: #ED145B;

//Media breakpoints
$media-height-sm-max: 500px;

html, body{
  height: 100%;
}

body{
  background: $color-ebony;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sudo-board{
  margin: 1% auto;
  height: 70%;
  max-width: 500px;
  max-height: 500px;
  border: 5px solid lighten($color-java-blue, 40%);
  border-radius: 5px;
}

.sudo-block{
  background: $color-white;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $color-ebony;
  width: 33.33%; 
  height: 33.4%;
  vertical-align: bottom;
}

.sudo-block:nth-child(even){
  background: $color-alto;
}

.sudo-cell{
  color: darken($color-java-blue, 20%);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid $color-ebony;
  width: 33.33%; 
  height: 34%;
  vertical-align: bottom;
  font-size: 1.5em;
  line-height: 2;
  text-align: center;
  font-weight: bold;
  //help keep text centered at reduced heights
  //could alternately refactor to have cells be 'display: table-cell' with
  //'vertical-align: middle'
  @media screen and ( max-height: $media-height-sm-max){
    line-height: 1.5;
  }
}


.sudo-cell:hover, .is-selected{
  cursor: pointer;
  border: 3px solid $color-java-blue;
  border-top: 1px solid $color-java-blue;
  border-bottom: 5px solid darken($color-java-blue, 20%);
  background: lighten($color-java-blue, 10%);
}

.is-highlighted{
  background: lighten($color-java-blue, 40%);
}

.is-in-conflict{
  background: $color-red;
}

.is-conflict-source{
  color: $color-red;
  background: $color-white;
}

.is-selected{
  color: $color-white;
  background: lighten($color-java-blue, 10%);
}

.is-selected.is-conflict-source{
  color: $color-red;  
}
.is-locked-val{
  color: $color-ebony;
  font-weight: normal;
}

#user-input-container{
  max-height: 15%;
}

#user-input-menu{
  padding: 0 0;
  margin: 0 auto;
  height: 100%;
  max-width: 500px;
  background: $color-white;
  border: 5px solid lighten($color-java-blue, 40%);
  border-radius: 5px;
}

#user-input-menu.input-disabled{
  background: $color-alto;
  color: darken($color-alto, 30%);
}

.input-item{
  display: inline-block;
  width: 20%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid $color-ebony;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
  //reduce font-size if there's not much height (e.g. iphone 4)
  @media screen and ( max-height: $media-height-sm-max){
    font-size: 1.5em;
  }
}

.input-disabled > .input-item:hover{
  background: $color-alto;
}

.input-item:hover{
  cursor: pointer;
  background: $color-java-blue;
}
