html, body {
  height: 100%; }

body {
  background: #070716; }

#sudo-board {
  margin: 1em auto;
  max-width: 500px;
  max-height: 500px;
  border: 5px solid #caf0f7;
  border-radius: 5px; }

.sudo-block {
  background: white;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #070716;
  width: 33.33%;
  height: 33.4%;
  vertical-align: bottom; }

.sudo-block:nth-child(even) {
  background: #dedede; }

.sudo-cell {
  color: #126d7d;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #070716;
  width: 33.33%;
  height: 34%;
  vertical-align: bottom;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  text-align: center; }

.sudo-cell:hover, .is-selected {
  cursor: pointer;
  border: 3px solid #1fbad6;
  border-top: 1px solid #1fbad6;
  border-bottom: 5px solid #126d7d; }

.is-highlighted {
  background: #caf0f7; }

.is-selected {
  color: white;
  background: #44cbe4; }

.is-in-conflict {
  background: red; }

.is-locked-val {
  color: #070716; }

#user-input-menu {
  padding: 0 0;
  margin: 0 auto;
  background: white;
  max-width: 500px;
  border: 5px solid #caf0f7;
  border-radius: 5px; }

.input-item {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  border: 1px solid #070716;
  vertical-align: bottom;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  text-align: center; }

.input-item:hover {
  cursor: pointer;
  background: #1fbad6; }
