//Color bank
$color-white: #FFFFFF;
$color-alto: #DEDEDE;
$color-ebony: #070716;
$color-java-blue: #1FBAD6;
$color-red: #ED145B;

html, body{
  height: 100%;
}

body{
  background: $color-ebony;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sudo-board{
  margin: 1em auto;
  max-width: 500px;
  max-height: 500px;
  border: 5px solid lighten($color-java-blue, 40%);
  border-radius: 5px;
}

.sudo-block{
  background: $color-white;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $color-ebony;
  width: 33.33%; 
  height: 33.4%;
  vertical-align: bottom;
}

.sudo-block:nth-child(even){
  background: $color-alto;
}

.sudo-cell{
  color: darken($color-java-blue, 20%);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid $color-ebony;
  width: 33.33%; 
  height: 34%;
  vertical-align: bottom;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

.sudo-cell:hover, .is-selected{
  cursor: pointer;
  border: 3px solid $color-java-blue;
  border-top: 1px solid $color-java-blue;
  border-bottom: 5px solid darken($color-java-blue, 20%);
  background: lighten($color-java-blue, 10%);
}

.is-highlighted{
  background: lighten($color-java-blue, 40%);
}

.is-in-conflict{
  background: $color-red;
}

.is-selected{
  color: $color-white;
  background: lighten($color-java-blue, 10%);
}

.is-conflict-source{
  color: $color-red;
  background: $color-white;
}

.is-locked-val{
  color: $color-ebony;
  font-weight: normal;
}

#user-input-menu{
  padding: 0 0;
  margin: 0 auto;
  background: $color-white;
  max-width: 500px;
  border: 5px solid lighten($color-java-blue, 40%);
  border-radius: 5px;
}

#user-input-menu.input-disabled{
  background: $color-alto;
  color: darken($color-alto, 30%);
}

.input-item{
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  border: 1px solid $color-ebony;
  vertical-align: bottom;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  text-align: center;
}

.input-disabled > .input-item:hover{
  background: $color-alto;
}

.input-item:hover{
  cursor: pointer;
  background: $color-java-blue;
}
