//Color bank
$color-white: #FFFFFF;
$color-alto: #DEDEDE;
$color-ebony: #070716;
$color-java-blue: #1FBAD6;

html, body{
  height: 100%;
}

body{
  background: $color-ebony;
}

#board-container{
  margin: 1em auto;
  width: 30em;
  height: 30em;
  overflow: auto;
}

.sudo-block{
  background: $color-white;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid $color-ebony;
  width: 33.33%; 
  height: 33.4%;
  vertical-align: bottom;
}

.sudo-block:nth-child(even){
  background: $color-alto;
}
